extends /_layout

block config
  - page = "about"
  - title = "About | Saffron Indian Kitchen"
  - description = "About Saffron Indian Kitchen, an Indian restaurant with locations in Ambler and Bala Cynwyd, PA."

block content
  .jumbotron#about-jumbotron
    .container
      .col-md-11.col-md-offset-1#menu-container
        h1 About
        p.
          Saffron is a Philly-based Indian Kitchen.  Our chefs have truly mastered the
          art of blending spices. In addition, Saffron offers a unique ambience which is reinforced
          by the friendly staff who aim to make your dining experience one to remember.
          Whether you desire traditional Indian cuisine or the 'nouveau' style that is
          increasingly popular amongst our clients you can be sure that two things will never
          change - the excellence of our food and the standard of our service.
        br
        p.
          If you have any questions or comments, please feel free to email us at
          <a href="mailto:saffronbala@gmail.com">saffronbala@gmail.com</a>.
          <!-- <a href="mailto:contact@saffronofphilly.com">contact@saffronofphilly.com</a>. -->
          We appreciate any questions and comments, and we'll get back to you as fast as we can.