extends /_layout.jade

block config
  - page = 'bala-cynwyd'
  - title = "Bala Cynwyd | Saffron Indian Kitchen"
  - description = "Saffron Bala Cynwyd offers a unique, modern experience in traditional Indian cuisine in the Main Line."

block head
  meta(name="keywords" content="indian, kitchen, saffron, ambler, indian restaurant, bala, cynwyd, indian kitchen, indian food")
  meta(property="fb:page_id" content="161553280541265")
  meta(property="og:title" content="Bala Cynwyd's Best Indian Cuisine - Saffron")
  meta(property="og:description" content="Saffron Indian Kitchen, located in Bala Cynwyd, PA, offers a unique ambience which is reinforced by the friendly staff who aim to make your dining experience one to remember.")
  meta(property="og:url" content="http://www.saffronofphilly.com/bala-cynwyd")
  meta(property="og:site_name" content="SaffronOfPhilly.com")
  meta(property="og:type" content="website")
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "Restaurant",
      "url": "http://www.saffronofphilly.com",
      "menu": "http://www.saffronofphilly.com/dinner",
      "servesCuisine": "indian",
      "acceptsReservations": "Yes",
      "email": "mailto:saffronbala@gmail.com",
      "photo": "https://www.saffronofphilly.com/uploads/tables.jpg",
      "logo": "https://pbs.twimg.com/profile_images/612714669200023552/vkpmXhou.png",
      "telephone": "+1-484-278-4112",
      "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+1-484-278-4112",
        "contactType": "customer service"
      }],
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Bala Cynwyd",
        "addressRegion": "PA",
        "postalCode": "19004",
        "streetAddress": "145 Montgomery Ave."
      }
    }
  //- Page-specific styles
  style.
    body {
      position: relative;
      overflow-x: hidden;
      background: url(#{require('./img/food/tikka-above.jpg')});
      background-size: cover;
    }
    #landing-jumbotron {
      background: rgba(255,255,255,0.1);
    }
    #leungenterprises {
      position: fixed;
      right: 15px;
      bottom: 15px;
    }
    #leungenterprises a {
      color: #222;
    }
  style.
    /* center jumbotron and restrict width */
    #landing-jumbotron {
      width: 90%;
      margin: 0 auto;
    }
    @media (min-width: 768px) {
      #landing-jumbotron {
        width: 50%;
      }
    }

block content
  .jumbotron#landing-jumbotron
    .container-fluid
      #landing
        #logo
          h1 Saffron
          h2.text-lowercase Indian Kitchen
        br
        p.
          Saffron Bala Cynwyd offers a unique, modern experience in traditional Indian cuisine in the Main Line, which is reinforced by the friendly staff who aim to make your dining experience one to remember.
        br
        p.
          145 Montgomery Ave.<br>
          Bala Cynwyd, PA 19004<br>
          484 - 278 - 4112
        br
        p.
          #[span(style='font-variant: small-caps;') restaurant hours:]
          <br>
          Mon - Fri: 11:30 AM - 9:30 PM<br>
          Sat - Sun: 12:00 PM - 9:30 PM
  #leungenterprises.hidden-xs.
    #[a(href="https://www.leungenterprises.com" target="_blank") Web Design] by
    #[a(href="https://www.leungenterprises.com" target="_blank") Leung Enterprises]
