extends /_layout

block config
  - page = "dinner"
  - title = "Dinner Menu | Saffron Indian Kitchen"
  - description = "Saffron Indian Kitchen, located in Ambler, PA, has an extensive menu of traditional Indian cuisine, ranging from Biryani to Masala. Explore our dinner menu and discover wonderful new culinary experiences."

block content
  .jumbotron#menu-jumbotron
    .container
      .col-md-11.col-md-offset-1#menu-container
        h1 Dinner Menu (3pm to 10pm)
        //- Menu is legacy code from original HTML
        .row.
          <div class="col-md-6">
            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">
                    Appetizers
                    <p class="small">served with mint and tamarind chutney</p>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Vegeable Samosa (2pcs)</td>

                  <td>$4</td>
                </tr>

                <tr>
                  <td colspan="2">Homemade turnovers stuffed with diced potatoes and
                  peas, flavored with spices.</td>
                </tr>

                <tr>
                  <td>Papri Chaat</td>

                  <td>$5</td>
                </tr>

                <tr>
                  <td colspan="2">Crispy wafers topped with chickpeas, potatoes, yougurt, tamarind and mint
                  chutney and sprinkled with roasted cumin.</td>
                </tr>

                <tr>
                  <td>Onion Bhajia</td>

                  <td>$4</td>
                </tr>

                <tr>
                  <td colspan="2">Fresh marinated vegetables deep-fried in a chickpea batter</td>
                </tr>

                <tr>
                  <td>Samosa Chaat</td>

                  <td>$8</td>
                </tr>

                <tr>
                  <td colspan="2">Samosa topped with chickpeas, yogurt, tamarind and mint chutney.</td>
                </tr>

                <tr>
                  <td>Chicken Kaathi Roll</td>

                  <td>$8</td>
                </tr>

                <tr>
                  <td colspan="2">Thin Indian home-made bread wrapped around charcoal-grilled chicken tikka with
                  sautéed onions, tomatoes, and our own blend of spices.</td>
                </tr>

                <tr>
                  <td>Chatpata Murg Tikka</td>

                  <td>$9</td>
                </tr>

                <tr>
                  <td colspan="2">Chicken tenders, marinated in hung yogurt spiced with coriander, ginger and cumin powder
                  and baked in the charcoal clay oven.</td>
                </tr>
                <tr>
                  <td>Plain Dosa</td>

                  <td>$7</td>
                </tr>
                <tr>
                  <td colspan="2">Traditional south Indian crêpes made from rice and lentil butter, served from spicy lentil
                    broth and coconut chutney.</td>
                </tr>

                <tr>
                  <td>Masala Dosa</td>

                  <td>$10</td>
                </tr>

                <tr>
                  <td colspan="2">Traditional south Indian crêpes filled with masala sauce.</td>
                </tr>

                <tr>
                  <td>Chicken Dosa</td>

                  <td>$12</td>
                </tr>

                <tr>
                  <td colspan="2">Traditional south Indian crêpes filled with chicken.</td>
                </tr>
              </tbody>
            </table><br>

            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">
                    Chicken Specialties

                    <p class="small">served with basmati rice</p>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Murg Chutneywala</td>

                  <td>$14</td>
                </tr>

                <tr>
                  <td colspan="2">Chicken with mango chutney and mint sauce
                  with fresh coriander, ginger and spices</td>
                </tr>

                <tr>
                  <td>Murg Adraki</td>

                  <td>$14</td>
                </tr>

                <tr>
                  <td colspan="2">Chicken pieces spiced with ginger, fresh
                  coriander</td>
                </tr>

                <tr>
                  <td>Murg Korma</td>

                  <td>$14</td>
                </tr>

                <tr>
                  <td colspan="2">Boneless pieces of chicken cooked in a rich
                  almond and cream sauce</td>
                </tr>

                <tr>
                  <td>Murg Saag</td>

                  <td>$14</td>
                </tr>

                <tr>
                  <td colspan="2">Tender pieces of chicken breast spiced and
                  cooked with fresh spinach</td>
                </tr>

                <tr>
                  <td>Murg Vindaloo</td>

                  <td>$14</td>
                </tr>

                <tr>
                  <td colspan="2">Chicken marinated with chili vinegar stewed
                  with potatoes - from southern India, spicy</td>
                </tr>

                <tr>
                  <td>Chicken Tikka Masala</td>

                  <td>$14</td>
                </tr>

                <tr>
                  <td colspan="2">Tandoori chicken tenders cooked in a
                  delightful delicate, tangy, and spicy paprika sauce</td>
                </tr>
              </tbody>
            </table><br>

            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">
                    Lamb Specialties

                    <p class="small">served with basmati rice</p>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Lamb Roganjosh</td>

                  <td>$17</td>
                </tr>

                <tr>
                  <td colspan="2">A Kashmir delight, tender lamb pieces spiced
                  with fresh ginger, onions, herbs, yogurt and garlic</td>
                </tr>

                <tr>
                  <td>Lamb Vindaloo</td>

                  <td>$17</td>
                </tr>

                <tr>
                  <td colspan="2">Red chilly and vinegar marinated lamb stewed
                  with potatoes in a curry sauce, spicy</td>
                </tr>

                <tr>
                  <td>Saag Lamb</td>

                  <td>$17</td>
                </tr>

                <tr>
                  <td colspan="2">Tender lamb pieces cooked with lightly spiced
                  fresh spinach</td>
                </tr>

                <tr>
                  <td>Lamb Korma</td>

                  <td>$17</td>
                </tr>

                <tr>
                  <td colspan="2">Boneless pieces of lamb cooked in a rich
                  almond and cream sauce</td>
                </tr>

                <tr>
                  <td>Boti Kabob Masala</td>

                  <td>$17</td>
                </tr>

                <tr>
                  <td colspan="2">Lean cubes of lamb marinated for twenty-four
                  hours, in yogurt and spices baked on a skewer in tandoor and
                  finished in a tangy spicy sauce</td>
                </tr>

                <tr>
                  <td>Kadai Gosht Masala</td>

                  <td>$17</td>
                </tr>

                <tr>
                  <td colspan="2">Lamb cubes sautéed with red onions, bell
                  peppers, fresh tomatoes, tempered with fenugreek ginger and
                  coriander leaves</td>
                </tr>
              </tbody>
            </table><br>

            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">
                    Seafood Specialties

                    <p class="small">served with basmati rice</p>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Goan Shrimp Curry</td>

                  <td>$18</td>
                </tr>

                <tr>
                  <td colspan="2">Shrimp in mild coconut and tomato sauce, with
                  curry leaves, carrots, ginger and raisins</td>
                </tr>

                <tr>
                  <td>Fish Curry</td>

                  <td>$18</td>
                </tr>

                <tr>
                  <td colspan="2">Haddock fillet with curry leaves, cumin
                  powder, and dry chilies cooked in the chef's special
                  sauce</td>
                </tr>

                <tr>
                  <td>Tandoori Shrimp Masala</td>

                  <td>$18</td>
                </tr>

                <tr>
                  <td colspan="2">A zesty marinade bar-be-qued jumbo shrimp
                  tossed with tomatoes, mustard & onions</td>
                </tr>
              </tbody>
            </table><br>

            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">
                    Vegetarian Specialties

                    <p class="small">served with basmati rice</p>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Aloo Mutter</td>

                  <td>$12</td>
                </tr>

                <tr>
                  <td colspan="2">Potatoes and Peas cooked in a light curry
                  sauce</td>
                </tr>

                <tr>
                  <td>Daal-e-Bahar</td>

                  <td>$11</td>
                </tr>

                <tr>
                  <td colspan="2">Lentils slow cooked in chef's own blend of
                  herbs and spices</td>
                </tr>

                <tr>
                  <td>Dhaba Daal</td>

                  <td>$12</td>
                </tr>

                <tr>
                  <td colspan="2">Rich and buttery split black lentils- daily
                  favorite</td>
                </tr>

                <tr>
                  <td>Chana Punjabi</td>

                  <td>$12</td>
                </tr>

                <tr>
                  <td colspan="2">Chickpeas gently cooked with onions, herbs,
                  and tomatoes</td>
                </tr>

                <tr>
                  <td>Gobhi Aloo</td>

                  <td>$12</td>
                </tr>

                <tr>
                  <td colspan="2">An ensemble of cauliflower and baby potatoes
                  cooked in blend of spices</td>
                </tr>
              </tbody>
            </table><br>
          </div>
          <div class='col-md-6'>
            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">
                    Vegetarian Specialties (cont.)

                    <p class="small">served with basmati rice</p>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mutter Paneer</td>

                  <td>$13</td>
                </tr>

                <tr>
                  <td colspan="2">Homemade cheese, cooked with peas in a cashew
                  cream sauce</td>
                </tr>

                <tr>
                  <td>Bhindi Do Piaza</td>

                  <td>$13</td>
                </tr>

                <tr>
                  <td colspan="2">Fresh okra delicately spiced and cooked with
                  diced onions and tomatoes</td>
                </tr>

                <tr>
                  <td>Kadai Paneer Makhani</td>

                  <td>$13</td>
                </tr>

                <tr>
                  <td colspan="2">Homemade cheese cooked with bell peppers,
                  onions, tomatoes, and freshly ground spices in an authentic
                  sauce</td>
                </tr>

                <tr>
                  <td>Malai Kofta</td>

                  <td>$13</td>
                </tr>

                <tr>
                  <td colspan="2">Cheese and vegetable croquettes cooked in a
                  light vegetable sauce</td>
                </tr>

                <tr>
                  <td>Saag Paneer</td>

                  <td>$13</td>
                </tr>

                <tr>
                  <td colspan="2">Homemade cheese tossed with spinach, masala,
                  and a touch of garlic</td>
                </tr>

                <tr>
                  <td>Baigan Bharta</td>

                  <td>$13</td>
                </tr>

                <tr>
                  <td colspan="2">Smoked egg plant mashed and cooked with
                  tomatoes, onions, ginger, garlic and spices</td>
                </tr>
                
                <tr>
                  <td>Navratan Korma</td>

                  <td>$12</td>
                </tr>

                <tr>
                  <td colspan="2">Mixed vegetables cooked in a creamy cashew sauce.</td>
                </tr>
              </tbody>
            </table><br>
            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">
                    Tandoor

                    <p class="small">served with basmati rice</p>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Tandoori Chicken</td>

                  <td>$13</td>
                </tr>

                <tr>
                  <td colspan="2">Spring chicken marinated in masala yogurt for
                  twenty-four hours and baked in tandoor</td>
                </tr>

                <tr>
                  <td>Tandoori Lamb Chops</td>

                  <td>$22</td>
                </tr>

                <tr>
                  <td colspan="2">Rack of lamb, marinated with sour cream and
                  spices, grilled in the tandoor oven</td>
                </tr>

                <tr>
                  <td>Boti Kabob</td>

                  <td>$17</td>
                </tr>

                <tr>
                  <td colspan="2">Lean squares of lamb marinated twenty-four
                  hours in yogurt and delicately spiced</td>
                </tr>

                <tr>
                  <td>Malai Tikka</td>

                  <td>$14</td>
                </tr>

                <tr>
                  <td colspan="2">Chicken tenders marinated with sour cream and
                  spices backed over a charcoal flame</td>
                </tr>

                <tr>
                  <td>Malai Shrimp</td>

                  <td>$18</td>
                </tr>

                <tr>
                  <td colspan="2">Mildly spiced shrimp baked on a skewer over
                  slow charcoal fire</td>
                </tr>
              </tbody>
            </table><br>

            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">Biryani</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Vegetable Biryani</td>

                  <td>$12</td>
                </tr>

                <tr>
                  <td colspan="2">An assortment of vegetables mixed with spices
                  and basmati rice</td>
                </tr>

                <tr>
                  <td>Lamb Biryani</td>

                  <td>$17</td>
                </tr>

                <tr>
                  <td colspan="2">Tender lamb pieces mixed with spices and
                  basmati rice</td>
                </tr>

                <tr>
                  <td>Shrimp Biryani</td>

                  <td>$18</td>
                </tr>

                <tr>
                  <td colspan="2">Shrimp mixed with spices and basmati
                  rice</td>
                </tr>

                <tr>
                  <td>Chicken Biryani</td>

                  <td>$14</td>
                </tr>

                <tr>
                  <td colspan="2">Tender pieces of chicken mixed with spices
                  and basmati rice</td>
                </tr>
              </tbody>
            </table><br>

            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">Breads</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Tandoori Roti</td>

                  <td>$3</td>
                </tr>

                <tr>
                  <td colspan="2">Whole wheat bread with no oil</td>
                </tr>

                <tr>
                  <td>Rogini Naan</td>

                  <td>$3</td>
                </tr>

                <tr>
                  <td colspan="2">Crisp baked leavened buttered bread</td>
                </tr>

                <tr>
                  <td>Onion Naan</td>

                  <td>$4</td>
                </tr>

                <tr>
                  <td colspan="2">Leavened bread stuffed with lightly spiced
                  onions</td>
                </tr>

                <tr>
                  <td>Garlic Naan</td>

                  <td>$4</td>
                </tr>

                <tr>
                  <td colspan="2">Leavened bread with garlic and coriander</td>
                </tr>

                <tr>
                  <td>Aloo Naan</td>

                  <td>$4</td>
                </tr>

                <tr>
                  <td colspan="2">Leavened bread stuffed with potatoes</td>
                </tr>

                <tr>
                  <td>Lachha Paratha</td>

                  <td>$4</td>
                </tr>

                <tr>
                  <td colspan="2">Layered whole wheat buttered bread</td>
                </tr>

                <tr>
                  <td>Mint Paratha</td>

                  <td>$4</td>
                </tr>

                <tr>
                  <td colspan="2">Whole wheat buttered bread topped with dry
                  mint</td>
                </tr>

                <tr>
                  <td>Peshawari Naan</td>

                  <td>$5</td>
                </tr>

                <tr>
                  <td colspan="2">Leavened bread stuffed with cashew, raisins
                  and topped with dry coconut</td>
                </tr>

                <tr>
                  <td>Spinach and Cheese Naan</td>

                  <td>$5</td>
                </tr>

                <tr>
                  <td colspan="2">Leavened bread with fresh spinach and
                  mozzarella cheese</td>
                </tr>
              </tbody>
            </table><br>

            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">Accompaniments</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Raita</td>

                  <td>$3</td>
                </tr>

                <tr>
                  <td colspan="2">Fresh yogurt with tomatoes, cucumbers, mint
                  and a touch of cumin</td>
                </tr>

                <tr>
                  <td>Homemade Hot Pickles</td>

                  <td>$2</td>
                </tr>

                <tr>
                  <td colspan="2">Homemade Indian pickles with traditional
                  spices</td>
                </tr>

                <tr>
                  <td>Papad</td>

                  <td>$2</td>
                </tr>

                <tr>
                  <td colspan="2">Spicy lentil wafers</td>
                </tr>
              </tbody>
            </table><br>

            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">Desserts</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Ras Malai</td>

                  <td>$6</td>
                </tr>

                <tr>
                  <td colspan="2">Homemade cheese soaked in cardamom flavored
                  sweetened milk syrup</td>
                </tr>

                <tr>
                  <td>Ghulab Jamun</td>

                  <td>$4</td>
                </tr>

                <tr>
                  <td colspan="2">Hot cream dumplings dipped in sweet rose
                  water syrup</td>
                </tr>

                <tr>
                  <td>Badami Kheer</td>

                  <td>$4</td>
                </tr>

                <tr>
                  <td colspan="2">Chilled homemade rice pudding flavored with
                  cardamom, almond, and raisins</td>
                </tr>
              </tbody>
            </table><br>
          </div>
