extends /_layout.jade

block config
  - page = "lunch"
  - title = "Lunch Menu | Saffron Indian Kitchen"
  - description = "Our lunch menu offers many of our classic Indian favorites. Come in between 11am and 3pm for and join us for a delicious lunch."

block content
  .jumbotron#lunch-jumbotron
    .container
      .col-md-11.col-md-offset-1#menu-container
        h1 Lunch Menu
        h2(style='margin-top: 0;') Served Monday to Friday, 11:30am to 3pm
        //- Menu is legacy code from original HTML
        .row.
          <div class="col-md-6">
            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">Appetizers</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Samosa</td>

                  <td>$5</td>
                </tr>

                <tr>
                  <td colspan="2">Homemade turnover stuffed with diced potatoes
                  and peas, flavored with spices</td>
                </tr>

                <tr>
                  <td>Chicken Kathi Roll</td>

                  <td>$8</td>
                </tr>

                <tr>
                  <td colspan="2">Thin Indian home made bread wrapped around
                  charcoal grilled Chicken Tikka with sautéed onions, tomatoes,
                  and our own blend of spices</td>
                </tr>

                <tr>
                  <td>Onion Bhajiya</td>

                  <td>$5</td>
                </tr>

                <tr>
                  <td colspan="2">Fresh marinated vegetables deep-fried in a
                  chickpea batter</td>
                </tr>

                <tr>
                  <td>Papri Chaat</td>

                  <td>$6</td>
                </tr>

                <tr>
                  <td colspan="2">Lentil wafers topped with chick peas,
                  potatoes yogurt tamarind and mint Chutney and sprinkled
                  roasted cumin.</td>
                </tr>
              </tbody>
            </table><br>

            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">
                    Chicken Specials

                    <p class="small">served with basmati rice, salad, and
                    accompaniment of the day</p>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Chicken Tikka Masala</td>

                  <td>$10</td>
                </tr>

                <tr>
                  <td colspan="2">Tandoori chicken tenders cooked in a
                  delightful delicate, tangy and spicy paprika sauce</td>
                </tr>

                <tr>
                  <td>Chicken Korma</td>

                  <td>$10</td>
                </tr>

                <tr>
                  <td colspan="2">Boneless pieces of chicken cooked in a cashew cream curry sauce.</td>
                </tr>

                <tr>
                  <td>Chicken Jalferazee</td>

                  <td>$10</td>
                </tr>

                <tr>
                  <td colspan="2">Boneless pieces of chicken and mixed
                  vegetables cooked in curry sauce</td>
                </tr>

                <tr>
                  <td>Chicken Saag</td>

                  <td>$10</td>
                </tr>

                <tr>
                  <td colspan="2">Boneless pieces of chicken cooked with light
                  spices and fresh spinach</td>
                </tr>

                <tr>
                  <td>Chicken Kadai</td>

                  <td>$10</td>
                </tr>

                <tr>
                  <td colspan="2">Boneless pieces of chicken in curry cooked
                  with jalapeño, onions and peppers</td>
                </tr>

                <tr>
                  <td>Chicken Madras</td>

                  <td>$10</td>
                </tr>

                <tr>
                  <td colspan="2">Boneless pieces of chicken cooked with
                  mustard seeds, curry leaves, and coconut milk</td>
                </tr>
                
                <tr>
                  <td>Chicken Vindaloo</td>

                  <td>$10</td>
                </tr>

                <tr>
                  <td colspan="2">A spicy dish cooked with potatoes and a touch of vinegar</td>
                </tr>
              </tbody>
            </table><br>

            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">
                    Lamb Specials

                    <p class="small">served with basmati rice, salad, and
                    accompaniment of the day</p>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Lamb Tikka Masala</td>

                  <td>$11</td>
                </tr>

                <tr>
                  <td colspan="2">Lamb pieces cooked in a delightful delicate,
                  tangy and spicy paprika sauce</td>
                </tr>

                <tr>
                  <td>Lamb Korma</td>

                  <td>$11</td>
                </tr>

                <tr>
                  <td colspan="2">Boneless pieces of Lamb cooked in a cashew cream curry sauce.</td>
                </tr>

                <tr>
                  <td>Lamb Jalferazee</td>

                  <td>$11</td>
                </tr>

                <tr>
                  <td colspan="2">Lamb pieces and mixed vegetables cooked in
                  curry sauce</td>
                </tr>

                <tr>
                  <td>Lamb Saag</td>

                  <td>$11</td>
                </tr>

                <tr>
                  <td colspan="2">Lamb pieces cooked with light spices and
                  fresh spinach</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class='col-md-6'>
            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">Lamb Specials (cont.)</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Lamb Kadai</td>

                  <td>$11</td>
                </tr>

                <tr>
                  <td colspan="2">Lamb pieces in curry cooked with jalapeño,
                  onions, and peppers</td>
                </tr>

                <tr>
                  <td>Lamb Madras</td>

                  <td>$11</td>
                </tr>

                <tr>
                  <td colspan="2">Lamb pieces cooked with mustard seeds, curry
                  leaves, and coconut milk</td>
                </tr>
                
                <tr>
                  <td>Lamb Vindaloo</td>

                  <td>$11</td>
                </tr>

                <tr>
                  <td colspan="2">A spicy dish cooked with potatoes and a touch of vinegar</td>
                </tr>
              </tbody>
            </table><br>

            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">
                    Vegetable Specials

                    <p class="small">served with basmati rice, salad, and
                    accompaniment of the day</p>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Vegetable Tikka Masala</td>

                  <td>$9</td>
                </tr>

                <tr>
                  <td colspan="2">Mixed vegetables cooked in a delightful
                  delicate, tangy and spicy paprika sauce</td>
                </tr>

                <tr>
                  <td>Vegetable Korma</td>

                  <td>$9</td>
                </tr>

                <tr>
                  <td colspan="2">Mixed vegetables cooked in a rich almond and
                  cream sauce</td>
                </tr>

                <tr>
                  <td>Vegetable Jalferazee</td>

                  <td>$9</td>
                </tr>

                <tr>
                  <td colspan="2">Mixed vegetables cooked in curry sauce</td>
                </tr>

                <tr>
                  <td>Saag Paneer (Cheese)</td>

                  <td>$9</td>
                </tr>

                <tr>
                  <td colspan="2">Cheese cubes cooked with light spices and
                  fresh spinach</td>
                </tr>

                <tr>
                  <td>Vegetable Madras</td>

                  <td>$9</td>
                </tr>

                <tr>
                  <td colspan="2">Mixed vegetables cooked with mustard seeds,
                  curry leaves, and coconut milk</td>
                </tr>

                <tr>
                  <td>Vegetable Vindaloo</td>

                  <td>$9</td>
                </tr>

                <tr>
                  <td colspan="2">A spicy dish cooked with potatoes and a touch of vinegar</td>
                </tr>

              </tbody>
            </table><br>
            
            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">
                    Vegetable Specials
                  </th>
                </tr>
              </thead>

              <tbody>

                <tr>
                  <td>Chana Punjabi</td>

                  <td>$9</td>
                </tr>

                <tr>
                  <td colspan="2">Chickpeas gently cooked with onion herbs and
                  tomato</td>
                </tr>

                <tr>
                  <td>Aloo Gobi</td>

                  <td>$9</td>
                </tr>

                <tr>
                  <td colspan="2">An ensemble of cauliflower and potatoes
                  cooked in spices</td>
                </tr>

                <tr>
                  <td>Aloo Mutter</td>

                  <td>$9</td>
                </tr>

                <tr>
                  <td colspan="2">Potatoes and peas cooked in light curry</td>
                </tr>
              </tbody>
            </table><br>

            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">Lunch Breads</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Tandoori Roti</td>
                  <td>$3</td>
                </tr>
                <tr>
                  <td colspan="2">Whole wheat bread with no oil</td>
                </tr>
                <tr>
                  <td>Rogini Naan</td>
                  <td>$3</td>
                </tr>
                <tr>
                  <td colspan="2">Crispy baked leavened Buttered bread</td>
                </tr>
                <tr>
                  <td>Garlic Naan</td>
                  <td>$4</td>
                </tr>
                <tr>
                  <td colspan="2">Leavened bread with garlic and coriander</td>
                </tr>
                <tr>
                  <td>Onion Naan</td>
                  <td>$4</td>
                </tr>
                <tr>
                  <td colspan="2">Naan Stuffed with lightly spiced onions</td>
                </tr>
              </tbody>
            </table>
            <!-- not sure if this should only be in dinner menu -->
            <!--
            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">Dessert</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ras Malai</td>
                  <td>$6</td>
                </tr>
                <tr>
                  <td colspan="2">Homemade cheese soaked in cardamom-flavored sweetened milk syrup</td>
                </tr>
                <tr>
                  <td>Ghulab Jamun</td>
                  <td>$5</td>
                </tr>
                <tr>
                  <td colspan="2">Hot cream dumplings dipped in sweet rosewater syrup</td>
                </tr>
                <tr>
                  <td>Badami Kheer</td>
                  <td>$5</td>
                </tr>
                <tr>
                  <td colspan="2">Chilled homemade rice pudding flavored with cardamom, almond, and raisins</td>
                </tr>
              </tbody>
            </table>
            
            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">Accompaniments</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Raita</td>
                  <td>$3</td>
                </tr>
                <tr>
                  <td colspan="2">Fresh yogurt with tomatoes, cucumbers, mint and a touch of cumin</td>
                </tr>
                <tr>
                  <td>Homemade Hot Pickles</td>
                  <td>$2</td>
                </tr>
                <tr>
                  <td colspan="2"></td>
                </tr>
                <tr>
                  <td>Papad</td>
                  <td>$2</td>
                </tr>
                <tr>
                  <td colspan="2">Spicy lentil wafers</td>
                </tr>
              </tbody>
            </table>
            
            <table class="menu">
              <thead>
                <tr>
                  <th colspan="2">South Indian Specialties</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Plain Dosa</td>
                  <td>$7</td>
                </tr>
                <tr>
                  <td colspan="2">
                    Traditional south Indian Crepes made from rice and lentil batter,
                    served with spicy lentil broth and coconut chutney.
                  </td>
                </tr>
                <tr>
                  <td>Masala Dosa</td>
                  <td>$10</td>
                </tr>
                <tr>
                  <td colspan="2">Dosa stuffed with spiced potatoes</td>
                </tr>
                <tr>
                  <td>Chicken Dosa</td>
                  <td>$12</td>
                </tr>
                <tr>
                  <td colspan="2">Dosa stuffed with spiced chicken</td>
                </tr>
              </tbody>
            </table>
          </div>
          -->
